*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif    
}
body{
    background-color: #6c757c;
}
li, a{
    text-decoration: none;
    color: #d1d5db;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 12%;
    background-color: #212529;
}
.info h1{
    cursor: pointer;
}
.info p{
    color: #d1d5db;
}
.navigations{
    list-style: none;
    text-decoration: none;
}
.navigations li{
    display: inline-block;
    padding: 0px 20px;
}
.socials{
    list-style: none;
    text-align: left;
}
.socials li{
    display: inline-block;
    padding: 3px;
}
.socials img{
    height: 18px;
    width: 18px;
}
.education{
    background-color: #6c757c;
    padding: 80px 13%;
}
.education h3{
    font-size: 60px;
    background: -webkit-linear-gradient(100deg, #d3d0cbff, #6e8898ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content{
    margin-top: 6%;
    margin-left: 5%;
}
.content h5{
    margin-top: 50px;
    font-size: 40px;
    color: #d1d5db;
}
.content p{
    font-size: 22px;
    font-weight: 500;
    color: #1d1c1d;
    line-height: 2rem;
}
footer{
    padding: 80px 12%;
    text-align: right;
}
.footerh3{
    color: #d1d5db;
}